@import 'reset.css';
/* 全局样式 */

html,body {
  font-size: 14px;
  background: #fff;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.center {
  text-align: center;
}

.header {
  height: 42px;
  padding: 5px 20px;
  background-color: #1872f9;
  color: #fff;
}
.header_left {
  font-size: 20px;
  float: left;
}
.header_right {
  float: right;
}
.header_right button {
  background: #06c;
  border: 1px solid #03c;
  border-radius: 5px;
}
.tabs {
  height: 40px;
  line-height: 40px;
  background-color: #f9f9f9;
  text-align: center;
  border-bottom: solid 1px #ddd;
}
.tabs-left, .tabs-right {
  width: 50%;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.question_container {
  padding: 15px 0;
}
.question_item {
  position: relative;
  padding: 15px 15px;
  border-bottom: 1px solid #ccc;
}
.question_item .footer .total {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.addPage.header {
  height: 42px;
  padding: 5px 20px;
  background-color: #1872f9;
  color: #fff;
  text-align: center;
}
.addPage .header_left {
  line-height: 32px;
  font-size: 18px;
  display: inline-block;
}
.addPage .header_center {
  line-height: 32px;
  font-size: 18px;
  display: inline-block;
}
.addPage.form_content {
  margin: 20px;
}
.addPage .form_footer {
  display: none;
  margin-top: 10px;
}
.addPage .form_footer button {
  margin-right: 15px;
  background: #999;
  border-radius: 10px;
  border: 1px solid #666;
  color: #fff;
}
.addPage .form_footer button:first-child {
  background: #06c;
}
.detailPage.header {
  height: 42px;
  padding: 5px 20px;
  background-color: #1872f9;
  color: #fff;
  text-align: center;
}
.detailPage .header_left {
  line-height: 32px;
  font-size: 18px;
  display: inline-block;
}
.detailPage .header_center {
  line-height: 32px;
  font-size: 18px;
  display: inline-block;
}
.detail_content {
  padding: 15px 0;
}
.detail_item {
  padding: 15px 15px;
  border-bottom: 1px solid #ccc;
}
.detail_item .title {
  font-weight: bold;
  color: #339adf;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.detail_item .desc {
  margin-bottom: 10px;
}
.detail_item .footer {
  position: relative;
  height: 20px;
  line-height: 20px;
}
.detail_item .footer .name, .question-item .footer .time {
  margin-right: 20px;
}
.detail_item .footer .total {
  position: absolute;
  right: 0;
  top: 0;
}
.answer_list .item {
  padding: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.answer_list .item_hd {
  margin-bottom: 10px;
}
.answer_list .item_hd .name {
  margin-right: 10px;
}
.answer_list .item_content {
  font-size: 16px;
  margin-right: 120px;
  position: relative;
  display: inline;
}
.answer_list .item_like {
  font-size: 16px;
  position: absolute;
  right: 45px;
  display: inline-block;
}
.answer_list .item_dislike {
  font-size: 16px;
  position: absolute;
  right: 125px;
  display: inline-block;
}

.answer-popup-box {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
}
.answer-popup {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px 20px;
  background-color: #f9f9f9;
}
.answer-popup .title {
  position: relative;
  margin-bottom: 10px;
}
.answer-popup .title .close {
  position: absolute;
  right: 0;
  top: 0;
}
.answer-popup .submit {
  margin-top: 10px;
}
.loader, .bottom {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

@media (min-width: 1000px) {
  .addPage .header_left, .addPage .header_right {
    display: none;
  }
  .addPage .form_footer {
    display: block;
  }
}
